<!doctype html>
<html>
<head>
    <title>An Office 365 API Sample App Using Node-Express-Ejs</title>
    <style>
      .centerAlign { text-align:center }
    </style>
</head>
<body>
    <div>
        <h1 class="centerAlign">An Office 365 API sample app in Node-Express-Ejs</h1>
      <p>
        This simple Office 365 API sample app demonstrates how to program Office 365 REST API
        in a Web application using Nodejs, Expressjs and Ejs. It is meant to to provide a quick 
        introduction, by way of a few coding examples, to getting started to explore integrating 
        Office 365 API features in an Express-based web application. Specifically, it covers how to
      </p>
      <ul>
        <li>sign in to a user's Office 365 account, using the passport-azure-oauth module,</li>
        <li>discover the Office 365 API services,</li>
        <li>get mail messages from the user's inbox, using the request module,</li>
        <li>view a specific mail message,</li>
        <li>reply a mail message,</li>
        <li>delete a specific mail message,</li>
        <li>send a new mail message to a specified recipient,</li>
        <li>get the user's calendar events,</li>
        <li>get the user's contacts,</li>
        <li>inpsect the user's OneDrive for Business drive.</li>
      </ul> 
      <p>For more information about Office 365 REST API, 
        see the <a href="https://msdn.microsoft.com/en-us/office/office365/api/api-catalog">API docs</a> here.
      </p>
      <h2>
        To proceed, please <a href="/login">Sign in</a> to your Office 365 account. 
      </h2>
      <p>Be sure that you have configured the <b>oauthOptions</b>, in the appSettings.js file under the /models
        sub directory of this application, to match the app settings you specified in the Azure Active Directory subscription.
        For more information, see
        <a href="https://msdn.microsoft.com/en-us/office/office365/howto/setup-development-environment">
        Set up your Office 365 development environment</a>
      </p>        
    </div>
</body>
</html>
